<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="receivecom" value="COM6"></add>
    <add key="outputcom" value="COM7"></add>
    <!--设备IP-->
    <add key="faceServerIp" value="192.168.0.50" />
    <!--入摄像机Ip-->
    <add key="cameraInIp" value="rtsp://192.168.0.10/user=admin&amp;password=&amp;channel=1&amp;stream=0.sdp?" />
    <!--出摄像机Ip-->
    <add key="cameraOutIp" value="rtsp://192.168.0.11/user=admin&amp;password=&amp;channel=1&amp;stream=0.sdp?" />
    <!--开机启动-->
    <add key="auto" value="0" />
    <!--检测延时-->
    <add key="timeout" value="0" />
    <!--入通道                  读卡器Ip|输出设备Ip-->
    <add key="channel1" value="192.168.1.156|192.168.1.157" />
    <!--出通道-->
    <add key="channel2" value="192.168.1.158|192.168.1.159" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
  </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="SqliteTest" connectionString="data source=door.db" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
</configuration>